.button {
  border-radius: 8px;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-family: 'Inter', sans-serif;
}


.button.text,
.button.link,
.button.iconOutlined,
.button.textUnderlined {
  padding: 0;
}

.primary {
  background: var(--blue-medium);
  color: var(--dominant-main);
}

.link {
  font-family: var(--fontFamilyButton);
  text-decoration: underline;
  text-underline-offset: 6px;
}

.primary:hover {
  background: var(--blue-light);
}

.primary:active {
  background: var(--blue-dark);
}

.outlined,
.link,
.text {
  color: var(--blue-medium);
}

.outlined {
  outline: solid 1px var(--blue-medium);
}

.outlined:hover,
.link:hover,
.text:hover {
  color: var(--blue-light);
}

.outlined:hover {
  outline: solid 1px var(--blue-light);
}

.outlined:active,
.link:active,
.text:active {
  color: var(--blue-dark);
}

.outlined:active {
  outline: solid 1px var(--blue-dark);
}

.primary .s {
  font-weight: 500;
}

.s {
  padding: 12px;
  min-height: 44px;
  font-size: 14px;
  line-height: 20px;
}

.primary .l {
  font-weight: 500;
}

.l {
  padding: 18px 26px;
  min-height: 66px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.reverse {
  flex-direction: row-reverse;
}

.leftIcon {
  margin-right: 18px;
  margin-left: 0;
}

.rightIcon {
  margin-left: 18px;
  margin-right: 0;
}

.smallIcon {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}

.leftSmallIcon {
  margin-left: 0;
  margin-right: 8px;
}

.rightSmallIcon {
  margin-right: 0;
  margin-left: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .s {
    padding: 8px;
    min-height: 36px;
  }

  .l {
    font-size: 14px;
    line-height: 20px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
