span {
  color: var(--content-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 142.857% */
}

@media screen and (max-width: 768px) {
  span {
    color: var(--content-dark, #373737);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
}
